* {
  font-family: monospace;
  font-size: 1.1em;
}

.group {
  display: inline-block;
  width: 20em;
}

[data-solved]::before {
  background: red;
  border-radius: 1em;
  content: ' ';
  display: inline-block;
  height: 1em;
  width: 1em;
}

[data-solved=true]::before {
  background: green;
}
