<p>
  Graph: <span class="graph"><%= "#{@dials}" %></span>
  Solved: <span class="solved" data-solved="<%= Dials.are_solved?(@dials) %>"</span>
</p>
<span class="group">
  <%= for {dial, index} <- Enum.with_index(@dials.list) do %>
    <div class="dial" data-index=<%= index %>>
      <span data-solved=<%= dial.current_position == 0 %>></span>
      <input class="js-control" type="button" value="-">
      <input class="js-control" type="button" value="+">
      <span
        class="dial-<%= index %>"
        data-position=<%= dial.current_position %>
        data-resolution=<%= Enum.count(dial.data) %>>
        <%= dial.current_position %>
      </span>
    </div>
  <% end %>
</span>
